body{
  background-color: black;
}

.titulo-principal{
  color:aliceblue;
  font-variant-position: normal;
  
}
.acordion-black{
  background-color: black !important;
  color:yellow
}
.acordion-b2{
  background-color: black !important;
  color:yellow

}
.acordion-b3{
  background-color: black !important;
  color:yellow
}


